.how-it-works {
  .row  {
    margin: 4em 0;
  }

  h3 {
    margin: 0 !important;
    padding: 0 !important;
  }

  .btn {
    float: right;
  }

  li {
    line-height: 1.9em;
    margin: 1em;
  }

}
