 @import "../css/material-kit";

/* Fixes */

.main {
  min-height: 550px;
}

.modal.show {
  padding: 5px !important;
}

.modal .modal-dialog {
  margin-top: 10px !important;
}

.fa-in-heading {
  margin-right: 0.4em;
}
